# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1.x command line compiler bug helper
tscout.js

# NestJS build output
dist

# Expo directories and files
.expo/
web-build/
dist/

# Native builds
ios/build/
android/build/
*.apk
*.aab
*.ipa

# OS metadata
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Environment variables & secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.sync.env

# Editors & IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary test artifact directories
tmp/
temp/
